* {
    font-family: system-ui;
    font-size: 16px;
}

html {
    background: rosybrown;
    height: 100%;
}

input {
    border: none;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    padding: 12px 20px 12px 20px;
    width: 60%;
}

input:focus {
    outline: none;
}

table, th, td {
    background: white;
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

img {
    max-height: 150px;
    max-width: 112.5px
}
